#perfil {
    overflow:hidden;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius:100px;
    width:250px;
    height:250px;
    background-size:250px 0px; 
}

.center {
    background-color: #ffb732;
}

h2,a,h1,p {
	font-family: Corbel;
}