#perfil {
    overflow:hidden;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius:100px;
    width:250px;
    height:250px;
    background-size:250px 0px; 
}

.center {
    background-color: #ffb732;
}

h2,a,h1,p,h3,div {
	font-family: Corbel;
}

#cima {
	font-size: 24px;
}

img{
	margin-left: 20px;
}

.desc{
	margin-left: 10px;
	margin-right: 20px;
}